@model UsuariosListadoViewModel
@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../shared/_layout";
}
<h1>Listado de usuarios</h1>
@if (Model.Mensaje is not null)
{
   <div class=" alert alertalert-success" role="alert">
        @Model.Mensaje
   </div>
}

@if (Model.Usuarios is not null)
{
    <form method= "post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><strong>Acción</strong></td>
                    <td><strong>Email</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.Usuarios)
                {
                    <tr>
                        <td>
                            <button class=" btn btn-success me-2"
                                    asp-action="HacerAdmin"
                                        asp-route-email="@usuario.Email">Hacer Admin
                            </button>
                            <button class=" btn btn-danger me-2"
                                    asp-action="RemoverAdmin"
                                asp-route-email="@usuario.Email">Remover Admin
                            </button>
                            <button class=" btn btn-info me-2"
                                    asp-action="HacerEmpresa"
                                    asp-route-email="@usuario.Email">
                               Empresa
                            </button>
                            <button class=" btn btn-dark me-2"
                                    asp-action="RemoverEmpresa"
                                    asp-route-email="@usuario.Email">
                                Remover Empresa
                            </button>
                        </td>
                        <td>
                            @usuario.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

} else
{
    <p>No hay usuarios para mostrar</p>
}
