
@model IPTEntity.Entidades.Empresas
@{
}
@{
}

<div>
	<h1 class="display-3 fw-bold">Datos de la empresa: </h1>
</div>
<br />
<div class="mb-3">
	<label class="fw-bold display-6">Nombre de la empresa:</label>
	<span class="display-6 mx-5">@Model.NombreEmpresa</span>
</div>

<div class="mb-3">
	<label class="fw-bold display-6">Dirección:</label>
	<span class="display-6 mx-5">@Model.Direccion</span>
</div>

<div class="mb-3">
	<label class="fw-bold display-6">Teléfono: </label>
	<span class="display-6 mx-5">@Model.Telefono</span>
</div>

<div class="mb-3">
	<label class="fw-bold display-6">Correo electrónico: </label>
	<span class="display-6 mx-5">@Model.CorreoElectronico</span>
</div>

<div class="mb-3">
	<label class="fw-bold display-6">Sitio web: </label>
	<span class="display-6 mx-5">@Model.SitioWeb</span>
</div>



